@using OnlineBanking.Domain.ViewModel.Transaction
@model TransactionPageViewModel


@{
    ViewBag.Title = "Транзакции";
}

<div class="container">
    <div class="row mt-4">
        <p class="fs-4 text-center">Услуги</p>
        <div class="col-md-12 bg-dark br-15 py-5" style="min-height: 100px;">
            <p class="fs-4 text-center text-white">
                На данный момент транзакции для услуг не доступны, попробуйте позже...
            </p>
        </div>
    </div>
    <div class="row my-4">
        <div class="text-center">
            <button class="btn btn-primary" type="button" onclick="openModal({ url: '/Transaction/CreateTransaction', modalId: 'modalWindow', modalTitle:'Совершить транзакцию' })"
                    data-toggle="ajax-modal" data-target="Modal">
                Совершить транзакцию
            </button>
        </div>
    </div>
    <div class="row row-margin mb-5">
        <p class="text-center fs-4">
            Ваша история транзакций
        </p>
        @foreach (var transaction in Model.Transactions)
        {
            <div class="col-md-12 bg-dark br-15 my-3 d-flex justify-content-between text-white">
                <div class="p-5">
                    @if (@transaction.SenderName == User.Identity.Name)
                    {
                        <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
                    }
                </div>
                <div class="pt-3">
                    <label>
                        Имя отправителя:
                    </label>
                    <p>@transaction.SenderName</p>
                    <label>
                        Имя получателя:
                    </label>
                    <p>@transaction.RecipientName</p>
                </div>
                <div class="pt-3">
                    <label>
                        Количество денег (₽)
                    </label>
                    <p>@transaction.MoneyAmount.ToString("0.00")</p>
                </div>
                <div class="pt-3 w-25">
                    <label>
                        Платежный метод:
                    </label>
                    <p>@transaction.PaymentMethodName</p>
                    <label>
                        Дата транзакции
                    </label>
                    <p>@transaction.CreatedAt</p>
                </div>
            </div>
        }
    </div>
</div>


<script src="~/js/makeTransaction.js"></script>
